page-edit-contact {

    .toolbar-background{
      
        background-color:#5dade2;
      
      }

      .agenda{
       // text-align: center;
        color:#090808;
        font-family: Arial,helvetica;
        font-weight: bolder;
         }


}
