page-home {


    .agenda{
       text-align: center;
       color:#090808;
       font-family: Arial,helvetica;
       font-weight: bolder;
        }
    .toolbar-background{
      
        background-color:#5dade2;
      }
        
.cuerpo{

    background-color: #dcd23b ;
}


}
